<div class="cform" style="width: 500px;">
    <h3>Registration Form</h3>
    <div class="text-danger">{{error1}}</div>

    <form class="form" #registerForm="ngForm" [appMatchPassword]="['password', 'confirmPassword']"
        (ngSubmit)="registerForm.form.valid && onSubmit()" novalidate>
        <div class=" form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.username" name="username"
                placeholder="Enter your Name" #username="ngModel" required>
            <span class="text-danger" *ngIf="(username.touched || registerForm.submitted) && username.errors?.required">
                Name is required
            </span>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="userModal.password"
                placeholder="Enter the Password" name="password" #password="ngModel" appPasswordPattern required>
            <span class="text-danger" *ngIf="(password.touched || registerForm.submitted) && password.errors?.required">
                Password is required
            </span>
            <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">
                Password should 8 characters and ends with a number
            </span>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" [(ngModel)]="userModal.confirmPassword" name="confirmPassword"
                placeholder="Enter the Confirm Password" #confirmPassword="ngModel" required>
            <span class="text-danger"
                *ngIf="(confirmPassword.touched || registerForm.submitted) && confirmPassword.errors?.required">
                Confirm Password is required
            </span>
            <span class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
                Passwords doesnot match
            </span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" required [(ngModel)]="userModal.isCheck" #isCheck="ngModel"
                name="isCheck" [class.is-invalid]="isCheck.invalid && isCheck.untouched">
            <label class="form-check-label"><b>I accept the Terms and Conditions</b></label>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="registerForm.form.invalid">Register</button>
        </div>
    </form>
</div>